div.detail_title {
    padding-top: 50px;
    text-align: center;
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    font-size: 20px;
}

div.detail_title span {
    color: #8a8a8a;
}

div.detail_title input {
    border-radius: 5px;
    width: 40%;
    height: 30px;
}

div.detail_content {
    padding: 60px 100px;
    text-align: center;
}

div.save {
    text-align: center;
}

div button.save_btn {
    border-radius: 5px;
    background-color: burlywood;
    font-size: 16px;
    height: 40px;
    width: 60px;
}