div.detail_title h2 {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    color: #269abc;
    text-align: center;
    padding: 10px;
    font-size: 26px;
}

div.detail_content {
    padding: 0 20% 10% 20%;
    color: #8a8a8a;
    /*text-align: left;*/
    display: block;
}