.title_line {
    padding: 0 40px 0;
    margin: 20px 0;
    line-height: 1px;
    border-left: 200px solid #ddd;
    border-right: 200px solid #ddd;
    text-align: center;
}

.digg {
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    margin: 3px;
    padding-top: 30px;
    text-align: center;
    margin-bottom:0
}

.digg A {
    border-right: #aaaadd 1px solid;
    padding-right: 5px;
    border-top: #aaaadd 1px solid;
    padding-left: 5px;
    padding-bottom: 2px;
    margin: 2px;
    border-left: #aaaadd 1px solid;
    color: #000099;
    padding-top: 2px;
    border-bottom: #aaaadd 1px solid;
    text-decoration: none
}

.digg A:hover {
    border-right: #000099 1px solid;
    border-top: #000099 1px solid;
    border-left: #000099 1px solid;
    color: #000;
    border-bottom: #000099 1px solid
}

DIV.digg A:active {
    border-right: #000099 1px solid;
    border-top: #000099 1px solid;
    border-left: #000099 1px solid;
    color: #000;
    border-bottom: #000099 1px solid
}

.digg SPAN.current {
    border-right: #000099 1px solid;
    padding-right: 5px;
    border-top: #000099 1px solid;
    padding-left: 5px;
    font-weight: bold;
    padding-bottom: 2px;
    margin: 2px;
    border-left: #000099 1px solid;
    color: #fff;
    padding-top: 2px;
    border-bottom: #000099 1px solid;
    background-color: #000099
}

.digg SPAN.disabled {
    border-right: #eee 1px solid;
    padding-right: 5px;
    border-top: #eee 1px solid;
    padding-left: 5px;
    padding-bottom: 2px;
    margin: 2px;
    border-left: #eee 1px solid;
    color: #ddd;
    padding-top: 2px;
    border-bottom: #eee 1px solid
}