.title_line {
    padding: 0 40px 0;
    margin: 20px 0;
    line-height: 1px;
    border-left: 100px solid #ddd;
    border-right: 100px solid #ddd;
    text-align: center;
}

.page {
    padding: 5px;
    margin: 3px;
    text-align: center;
}

.page A {
    border: #8a8a8a 1px solid;
    padding: 5px;
    margin: 2px;
    color: #000000;
    text-decoration: none
}

.page A:hover {
    border : #000099 1px solid;
    color: #000;
}

.page A:active {
    border: #8a8a8a 1px solid;
    color: #985f0d;
}

.page span.current {
    border: #8a8a8a 1px solid;
    padding: 5px;
    font-weight: bold;
    margin: 2px;
    color: #fff;
    background-color: #985f0d
}

.page span.disabled {
    border: #eee 1px solid;
    padding: 5px;
    margin: 2px;
    color: #ddd;
}