{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}Mib查询{% endblock %}
{% block body %}
    {#    {{ super() }}#}
    <script type="application/javascript">
        layui.use('layer', function () {
            var layer = layui.layer;
            $(document).ready(function () {
                $('#button_upload').click(function () {
                    $('#file').submit();
                });
                $('#query').click(function () {
                    var mib_name = $('#mib_name').val();
                    if(mib_name.trim()==''){
                        layer.msg('mib_name不能为空!');
                        return;
                    }
                    var index = layer.load(1, {
                        shade: [0.1, '#fff'] //0.1透明度的白色背景
                    });
                    $.ajax({
                        url: '/mib/query',
                        method: 'post',
                        data: {'mib_name': mib_name},
                        success: function (res) {
                            $('#desc').val(res.desc);
                            layer.close(index);
                        }
                    })
                })

            });
        });
    </script>
    <div style="padding: 10% 10%;width: 80%">
        <form id="file" enctype=multipart/form-data method="post" action="/mib/upload">
            <input type="file" name="file" id="md_file" multiple>
            <input type=button value=上传 id="button_upload">
        </form>
        mib_name:<input style="width: 100%;height: 30px" id="mib_name" value="" title="mib_name"><br>
        desc:<input style="width: 100%;height: 30px;background-color: #5bc0de" id="desc" title="desc" readonly>
        <button id="query">查询</button>
    </div>
{% endblock %}