<!DOCTYPE html>
<html lang="en">
{% block head %}
{#    <link rel="stylesheet" href="{{ url_for('static',filename='highlight/style/default.min.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/public.css') }}">
    <script src="{{ url_for('static',filename='js/jquery-2.1.4.min.js') }}"></script>
{#    <script src="{{ url_for('static',filename='highlight/highlight.min.js') }}"></script>#}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
    {#    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">#}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
{% endblock %}
{% block body %}
    <div class="head_pic">
        <img class="pic" src="{{ url_for('static', filename='image/header.jpg') }}">
    </div>
    <div class="title_name"><a href="/blog/list/1">Blog</a></div>
    <div class="title_name"><a style="font-size: 15px">genhaoai@gmail.com</a>
    </div>
    {% if current_user.is_authenticated %}
        <div class="user_info" style="padding-left: 20px">Hi<a
                style="padding-right: 15px;color: #3b4249;font-size: 26px"> {{ current_user.username }}</a><a
                style="color:#1b6d85" href="/blog/logout">注销</a></div>
    {% endif %}
{% endblock %}
</html>