{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/list.css') }}">
{% endblock %}
{% block title %}首页{% endblock %}
{% block body %}
    {{ super() }}

    <div style="padding-top: 100px">
        {% for blog in blogs %}
            <div class="title_line">
                <a href="/blog/detail/{{ blog._id }}" style="text-decoration: none"><h1>{{ blog.title }}</h1></a>
            </div>
            <div class="title_time"><a class="time">{{ blog.datetime|safe }}</a></div>
            {#<div class="content">
                <span>{{ blog.content|i_sub_str(0,30)+'......' }}</span>
            </div>#}
        {% endfor %}
    </div>
    <div class="footer">
        <ul class="pagination">
            {% if current==1 %}
                <li><a class="disabled">«</a></li>
            {% else %}
                <li><a href="/blog/list/{{ current-1 }}">«</a></li>
            {% endif %}
            {% for d in range(1,pages+1) %}
                {% if current==d %}
                    <li><a class="active">{{ d }}</a></li>
                {% else %}
                    <li><a href="/blog/list/{{ d }}">{{ d }}</a></li>
                {% endif %}
            {% endfor %}
            {% if current==pages %}
                <li><a class="disabled">»</a></li>
            {% else %}
                <li><a href="/blog/list/{{ current+1}}">»</a></li>
            {% endif %}
        </ul>
        {#<div class="page">
            {% if current==1 %}
                <button class="disabled">&lt; </button>
            {% else %}
                <button href="/blog/list/{{ current-1 }}">&lt; </button>
            {% endif %}
            {% for d in range(1,pages+1) %}
                {% if current==d %}
                    <button class="current_btn">{{ d }}</button>
                {% else %}
                    <button href="/blog/list/{{ d }}">{{ d }} </button>
                {% endif %}
            {% endfor %}
            {% if current==pages %}
                <button class="disabled">&gt; </button>
            {% else %}
                <button href="/blog/list/{{ current+1}}">&gt;  </button>
            {% endif %}
        </div>#}
    </div>
{% endblock %}