{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/detail.css') }}">
    {#    <link rel="stylesheet" href="{{ url_for('static',filename='layui/css/layui.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('static',filename='highlight/style/monokai_sublime.min.css') }}">
    <script src="{{ url_for('static',filename='highlight/highlight.min.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
{% block title %}{{ current_blog.title }}{% endblock %}
{% block body %}
    {{ super() }}
    <div class="detail_title">
        <h2>{{ current_blog.title }}</h2>
    </div>
    <div class="detail_content">
        <span id="content" style="text-align: left"></span>
    </div>
    <script>
        {#{{ current_blog.content|i_normal_markdown }}#}
        console.log("{{ current_blog.content|i_normal_markdown }}".replace('&gt;', '>'));
        var rendererMD = new marked.Renderer();
        marked.setOptions({
            renderer: rendererMD,
            gfm: true,
            tables: true,
            breaks: false,
            pedantic: false,
            sanitize: false,
            smartLists: true,
            smartypants: false
        });
        var markdownString = '```js\n console.log("hello"); \n```';
        marked.setOptions({
            highlight: function (code) {
                return hljs.highlightAuto(code).value;
            }
        });
        {#        document.getElementById('content').innerHTML = marked("{{ current_blog.content|i_normal_markdown }}".replace('&gt;', '>').replace('&&#39;', "'"));#}
        document.getElementById('content').innerHTML = marked("{{ current_blog.content|safe|i_normal_markdown }}");
        {#                document.getElementById('content').innerHTML = marked(markdownString);#}
    </script>

    <div style="padding-left: 20%;font-size: large">评论列表:</div>
    <div style="padding-left: 20%;padding-top: 16px;">
        {% for c in comms %}
            <div id="comment">
                <a style="font-size: medium;font-family: '微软雅黑', serif;color: #1b6d85">{{ c.comment_username }}:</a>
                <a style="padding-left: 20px;">{{ c.comment_time }}</a>
                <div style="padding-top: 10px;padding-bottom: 10px;">
                    {{ c.comment }}
                </div>
            </div>
        {% endfor %}
        {% if current_user.is_authenticated %}
            <div style="padding-left: 60%">
                <div>
                    {% if image %}
                        <img id="header" style="width: 60px;height: 60px;border-radius: 50%;"
                             src="{{ url_for('static',filename=image,v=time) }}">
                    {% else %}
                        <img id="header" style="width: 60px;height: 60px;border-radius: 50%;"
                             src="{{ url_for('static',filename='image/default.png') }}">
                    {% endif %}
                    <form method="post" action="{{ url_for('blog.blog_comment_add',blog_id=current_blog._id) }}">
                        {{ form.csrf_token }}
                        <label>评论:</label>{{ form.comment }}<br>
                        <input type="submit" value="提交" class="layui-input">
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}